@import 'variables';

/*
 * Hitchwiki Maps
 */
#hwmap {
  min-height: 600px;
}

/*
 * Hitchwiki Maps Special page
 */
.page-Special_HWMap {

  // Make the map BIG
  .mw-body-content {
    position: absolute;
    top: @header-height;
    bottom: 0;
    width: 100%;
  }
  #mw-content-text {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .hwmap-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  #hwmap {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
    border-left: 1px solid @hw-orange-border;
  }

  // Hide certain contents
  #contentSub,
  #jump-to-nav,
  #footer, // No footer at map page :-(
  .mw-menu,
  .mw-body #firstHeading {
    display: none;
  }
  div#content {
    padding: 0;
  }

  // Button to init the adding
  #hwmap-add {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index:100000;
    font-size: 14px;
    line-height: 14px;
    background: @hw-orange;
    border: 1px solid @hw-orange-border;
    color: @hw-orange-text;
    padding: 5px;
  }

  // Button to init the form for adding
  #hwmap-add-wrap {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index:100000;
    background:#eee;
    padding: 5px;
    input[type='submit'] {
      padding: 5px;
      background: @hw-orange;
      font-size: 14px;
      line-height: 14px;
      border: 1px solid @hw-orange-border;
      color: @hw-orange-text;
    }
  }

  // Adding the spot -popup
  .popupform-container {
    border: 0;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border-radius: 5px;
  }

}

/*
 * City page
 */
.hwmap-city{

  .city-page {
    float: left;
    width: 55%;
  }

  .city-map{
    float: left;
    width: 45%;
  }

}
