.leaflet-marker-icon:not(.no-anim),
.leaflet-marker-shadow:not(.no-anim),
.leaflet-markercluster-icon:not(.no-anim) {
	.transition(all 0.3s linear);
}

.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-icon:not(.no-anim),
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-shadow:not(.no-anim),
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-markercluster-icon:not(.no-anim) {
  .transition(transform 0.25s cubic-bezier(0,0,0.25,1));
}
.prunecluster  {
	width: 38px;
  height: 38px;
	margin-left: 4px;
	margin-top: 4px;
	border-radius: 50%;
	background-clip: padding-box;
  transition: all 0.3s linear;
	background-color: rgba(red(lighten(@prunecluster-color, @prunecluster-border-contrast)), green(lighten(@prunecluster-color, @prunecluster-border-contrast)), blue(lighten(@prunecluster-color, @prunecluster-border-contrast)), @prunecluster-transparency);
	div {
		width: 30px;
    height: 30px;
		line-height: 30px;
		margin-left: 4px;
		margin-top: 4px;
		text-align: center;
		font-family: @prunecluster-font;
		color: @prunecluster-text-color;
		font-size: 14px;
		font-weight: bold;
		border-radius: 50%;
    background-color: rgba(red(@prunecluster-color), green(@prunecluster-color), blue(@prunecluster-color), @prunecluster-transparency);
  }
	&.prunecluster-medium {
		div {
			width: 32px;
      height: 32px;
			line-height: 32px;
		}
	}
	&.prunecluster-large {
		div {
			width: 36px;
      height: 36px;
			line-height: 36px;
		}
	}
}
.prunecluster div span {
	line-height: 30px;
}


#hwmap {
  .hw-city-icon {
    z-index: 500;
  }
}
