/*
 * Country articles
 */

.hw-country-ratings {
  text-align: center;
  .rating-widget {
    margin-left: 10px;
  }
  .spot-ratings-votes {
    cursor: pointer
  }
  .spot-ratings-votes:hover {
    color: @hw-grey-medium;
  }
}
