/*
 * Preview
 */
.hw-spot-preview {

}

/*
 * Spot form
 */
.hw-spot-form {
  .editCheckboxes {
    padding-top: 10px;
  }
}
.hw-spot-add-description {
  padding-bottom: 20px;
}

.hw-spot-add-cardinal {
  padding-right: 30px;
  width: 300px;
  .checkboxesSpan {
    display: block;
    clear: both;
  }
  .checkboxLabel {
    display: block;
    clear: both;
  }
}

.hw-spot-add-select {
  
}

.hw-spot-preview {

}



/*
 * Form page outside the modal
 */
.hw-spot-add a {
  .hwbutton();
}
