div.popupform-container {
  border: 0;
}

/**
 * Spot form
 */
.hw-spot-form {
  .editCheckboxes {
    padding-top: 10px;
  }
  .inputSpan {
    clear: both;
    display: block;
  }
}
// Textarea
.hw-spot-add-description {
  font-size: 15px;
  line-height: 20px;
  min-height: 250px;
}
.hw-spot-add-cardinal {
  display: block;
  clear: both;
}

/*
 * Form page outside the modal
 */
.hw-spot-add a {
  .hwbutton();
}

/**
 * Preview
 */
/*
.hw-spot-preview {

}
*/
