/*
 * Preview
 */
.hw-spot-preview {

}

/*
 * Spot form
 */
.hw-spot-form {
  .editCheckboxes {
    padding-top: 10px;
  }
  .inputSpan {
    clear: both;
    display: block;
  }
}
.hw-spot-add-description {

}

.hw-spot-add-cardinal {
  padding-right: 30px;
  width: 300px;
  .checkboxesSpan {
    display: block;
    clear: both;
  }
  .checkboxLabel {
    display: block;
    clear: both;
  }
}


/*
 * Form page outside the modal
 */
.hw-spot-add a {
  .hwbutton();
}
