/*
 * Hitchwiki Maps Special page
 */
.page-Special_HWMap {


  @media screen and (min-width: 768px) {
    .mw-body-content {
      left: 80px;
    }
    .hwmap-container {
      left: 80px;
    }
  }
  @media screen and (max-width: 767px) {
    .mw-body-content {
      left: 0px;
    }
    .hwmap-container {
      left: 0px;
    }
  }

  // Make the map BIG
  .mw-body-content {
    position: absolute;
    top: @hw-header-height;
    bottom: 0;
    right: 0px;
  }
  #mw-content-text {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .hwmap-container {
    position: fixed;
    top: 48px;
    bottom: 0;
    bottom: 0;
    right: 0;
  }
  #hwmap {
    position: relative;
    width: 100%;
    transition: width 0.1s;
    height: 100%;
    min-height: 300px;
    border-left: 1px solid @hw-orange-border;
  }
  #hwmap.hw-open-spot-map{
    width: 75%;
  }

  // Hide certain contents
  #contentSub,
  #jump-to-nav,
  #footer, // No footer at map page :-(
  .mw-menu,
  .mw-body #firstHeading {
    display: none;
  }
  div#content {
    padding: 0;
  }

  // Button to init the form for adding
  #hwmap-add-wrap {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 15px;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    input[name='page_name'] {
      display: none;
    }
  }

  // Buttons for adding a new spot
  #hwmap-add,
  #hwmap-add-wrap input[type='submit'] {
    .hwbutton();
  }

  #hwmap-cancel-adding {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
  }

  // Button to init the adding a new spot
  #hwmap-add {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 15px 25px;
    z-index: 900;
  }

  // Adding the spot -modal
  .popupform-container {
    border: 0;
    .box-shadow(5px 5px 15px rgba(0,0,0,0.5));
    border-radius: 5px;
  }


  #hwspot{
    position: relative;
    width: 0%;
    transition: width 0.1s;
    min-height: 100%;
    height: auto;
    float:right;
    background-color:white;
    .close-special-spot {
      position: absolute;
      float: right;
      cursor: pointer;
      top: 15px;
      right: 15px;
      font-size: 14px;
    }
    .row-special-spot {
      margin: 0;
    }
    .hw-special-page-spinner {
      display: none;
      margin-top: 100px;
      text-align: center;
      font-size: 40px;
      color: @hw-grey-medium;
    }
    .close-special-spot {
      font-size: 16px;
      line-height: 24px;
      margin-right: 5px;
      color: @hw-grey-dark;
      &:hover,
      &:active {
        color: lighten(@hw-grey-dark, 10%);
      }
    }
  }
  #hwspot.hw-open-spot{
    width: 25%;
  }

}
