/*
 * Hitchwiki Maps Special page
 * /en/Special:HWMap
 */
.page-Special_HWMap {

  @media screen and (min-width: 768px) {
    .mw-body-content {
      left: 80px;
    }
    .hwmap-container {
      left: 80px;
    }
  }
  @media screen and (max-width: 767px) {
    .mw-body-content {
      left: 0px;
    }
    .hwmap-container {
      left: 0px;
    }
  }

  // Make the map BIG
  .mw-body-content {
    position: absolute;
    top: @hw-header-height;
    bottom: 0;
    right: 0px;
  }
  #mw-content-text {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .hwmap-container {
    position: fixed;
    top: @hw-header-height;
    bottom: 0;
    bottom: 0;
    right: 0;
  }
  #hwmap {
    position: relative;
    border-left: 1px solid @hw-orange-border;
    transition: width 100ms;
    height: 100%;
    min-height: 300px;
    width: 100%;
    &.hw-spot-open-map {
      width: 75%;
    }
  }

  // Hide certain contents
  #contentSub,
  #jump-to-nav,
  #footer, // No footer at map page :-(
  .mw-menu,
  .mw-body #firstHeading {
    display: none;
  }
  div#content {
    padding: 0;
  }

  // Button to init the form for adding
  #hwmap-add-wrap {
    position: absolute;
    bottom: 10px;
    right: 50%;
    margin-right: -150px; // Has to be half of the width to center the block
    width: 300px;
    z-index: 2000;
    background: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 15px;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    input[name='page_name'] {
      display: none;
    }
  }

  // Buttons for adding a new spot
  #hwmap-add,
  #hwmap-add-wrap input[type='submit'] {
    .hwbutton();
  }

  // Button to init the adding a new spot
  #hwmap-add {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 70px;
    padding: 15px 25px;
    z-index: 900;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  }

  // Button to cancel the adding a new spot
  #hwmap-cancel-adding {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
  }

  // Adding the spot -modal
  .popupform-container {
    border: 0;
    .box-shadow(5px 5px 15px rgba(0,0,0,0.5));
    border-radius: 5px;
  }

  // Sidebar spot container
  #hw-specialpage-spot {
    position: relative;
    width: 0;
    transition: width 0.1s;
    min-height: 100%;
    height: auto;
    float: right;
    background-color: white;
    &.hw-spot-open {
      width: 25%;
      /*
      @media screen and (max-width: 768px) {
        width: 45%;
      }
      */
    }

    // The main title saying "Hitchhiking spot"
    h2 {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1.4em;
    }

    // Towards / Directions
    .hw-spot-towards {
      font-size: 13px;
    }

    // Loading animation
    .hw-spot-spinner {
      display: none; // By default hidden
      margin-top: 100px;
      text-align: center;
      font-size: 40px;
      color: @hw-grey-medium;
      // This element has a Font-Awesome spinner inside it
      * {
        // Faster loading animation (2s by default)
        animation-duration: 1s;
      }
    }
    &.hw-spot-loading .hw-spot-spinner {
      display: block;
    }

    // Close sidebar "X"
    .hw-close-special-spot {
      display: none;
      position: absolute;
      float: right;
      cursor: pointer;
      top: 15px;
      right: 15px;
      font-size: 16px;
      line-height: 24px;
      margin-right: 5px;
      color: @hw-grey-dark;
      &:hover,
      &:active {
        color: lighten(@hw-grey-dark, 10%);
      }
    }
    &.hw-spot-open .hw-close-special-spot {
      display: block;
    }
  }
  // SpecialPage HWMap sidebar when clicking a spot open

  /*
  .hw-specialpage-spot {
    h2 {

    }
  }

  .hw-specialpage-spot-actions {

  }
  */


  /**
   * @TODO: Why this is visible on SpecialPage and
   * why it causes empty border over top-right-corner?
   */
  div.vectorTabs {
    display: none;
  }

}
