// The famous orange
@hw-orange:           #f3d356;
@hw-orange-border:    #dfb921;
@hw-orange-text:      #652d02;

// Rating widget
@hw-color-verygood:   #6BB600;
@hw-color-good:       #8DC63F;
@hw-color-average:    #EBDB27;
@hw-color-bad:        #EDA200;
@hw-color-senseless:  #B32E00;
@hw-color-unknown:    #777777;
@hw-rating-height:    20px;

// Grays
@hw-grey-lighter:     #F7F7F7;
@hw-grey-light:       #EBEBEB;
@hw-grey-medium:      #cacaca;
@hw-grey-dark:        #686868;

//Blues
@hw-blue: #397997;
@hw-blue-shadow: rgba(57, 121, 151, 0.2);

// Other
@hw-footer-height:    40px;
@hw-header-height:    48px;
