@header-height: 48px;

// The famous orange
@hw-orange:          #f3d356;
@hw-orange-border:   #dfb921;
@hw-orange-text:     #652d02;

//Rating widget
@hw-color-verygood: #6BB600;
@hw-color-good: #8DC63F;
@hw-color-average: #EBDB27;
@hw-color-bad: #EDA200;
@hw-color-senseless: #B32E00;
@hw-color-unknown: #777777;

@hw-grey-rate: #EBEBEB;
@hw-grey-rate-light: #F7F7F7;
@hw-grey-border: grey;
@hw-grey-border-light: #C2C2C2;
@hw-grey-texte: #686868;

@hw-rating-height: 17px;

