{{#spots.groupSpots:direction}}

<span class="cardinal-direction">
  {{direction}}
</span>

{{#this}}
<div class="spot" id="spot_{{id}}">
  <span class="spot-head">
    {{#if CitiesDirection}}<span>Towards </span>{{/if}}
    {{#CitiesDirection:i}}{{#if i>0}},&nbsp;{{/if}}<a href="{{this}}">{{this}}</a>{{/CitiesDirection}}{{#RoadsDirection}},&nbsp;<a href="{{this}}">{{this}}</a>{{/RoadsDirection}}
  </span>
  <span class="spot-right">
    {{#if userId}}<div class="edit-button">Edit</div>{{/if}}
    {{#comments_count}}<div><span class="comments-box">{{comments_count}}</span></div>{{/comments_count}}
    {{^comments_count}}<div><span class="comments-box">+</span></div>{{/comments_count}}
  </span>
  <p>{{{Description}}}</p>
  <div class="spot-footer">
    <div class="ratings">Hitchability:
      <span class="rating-widget average-{{rating_average}}">
        <span class="average average-{{rating_average}} {{#if !userId}}average-no-user{{/if}}">{{average_label}}</span>{{#if userId}}<span id="rate_{{id}}" class="rate rate-{{rating_user}}">{{#if rating_user > 0}}<small>You rated: </small>{{rating_user_label}}{{else}}Rate{{/if}} <i class="fa fa-caret-down"></i></span>
        <span id="your_rate_{{id}}" class="your-rate">
          <span class="rating-choice-head">{{#if rating_user > 0}}Your rated: {{rating_user_label}}{{else}}Your rating{{/if}}</span>
          <span onclick="addRatings(5, {{id}})" class="rating-choice"><span class="bubble bubble-verygood"></span> Very Good</span>
          <span onclick="addRatings(4, {{id}})" class="rating-choice"><span class="bubble bubble-good"></span> Good</span>
          <span onclick="addRatings(3, {{id}})" class="rating-choice"><span class="bubble bubble-average"></span> Average</span>
          <span onclick="addRatings(2, {{id}})" class="rating-choice"><span class="bubble bubble-bad"></span> Bad</span>
          <span onclick="addRatings(1, {{id}})" class="rating-choice"><span class="bubble bubble-senseless"></span> Senseless</span>
          {{#timestamp_user}}<span class="rating-choice-timestamp">You rated {{timestamp_user}}</span>
          <span onclick="deleteRating({{id}})" class="rating-choice-remove">Remove my rating</span>{{/timestamp_user}}
        </span>{{/if}}
      {{#if rating_count > 0}}<br /><a href="#" class="rating-count">>See {{rating_count}} votes</a>{{/if}}
      </span>
    </div>
  </div>
</div>
{{/this}}

{{/groupSpots}}
