{{#countryRating}}

<span class="rating-widget average-{{rating_average}}">
  <span class="average {{#if rating_average > 0}}average-{{Math.round(rating_average)}}{{else}}average-null{{/if}} {{#if !userId}}average-no-user{{/if}}">{{average_label}} {{#if rating_count > 0}}<small>({{rating_count}})</small>{{/if}}</span>{{#if userId}}<span id="rate_{{id}}" class="rate {{#if rating_user > 0}}rate-{{Math.round(rating_user)}}{{else}}rate-null{{/if}}">{{#if rating_user > 0}}<small>You rated: </small>{{rating_user_label}}{{else}}Rate{{/if}} <i class="fa fa-caret-down"></i></span>
  <span id="your_rate_{{id}}" class="your-rate">
    <span class="rating-choice-head">{{#if rating_user}}Your rated: {{rating_user_label}}{{else}}Your rating{{/if}}</span>
    <span onclick="addRatings(5, {{id}}, 'countryRating')" class="rating-choice"><span class="bubble bubble-verygood"></span> Very Good</span>
    <span onclick="addRatings(4, {{id}}, 'countryRating')" class="rating-choice"><span class="bubble bubble-good"></span> Good</span>
    <span onclick="addRatings(3, {{id}}, 'countryRating')" class="rating-choice"><span class="bubble bubble-average"></span> Average</span>
    <span onclick="addRatings(2, {{id}}, 'countryRating')" class="rating-choice"><span class="bubble bubble-bad"></span> Bad</span>
    <span onclick="addRatings(1, {{id}}, 'countryRating')" class="rating-choice"><span class="bubble bubble-senseless"></span> Senseless</span>
    {{#timestamp_user}}<span class="rating-choice-timestamp">You rated {{timestamp_user}}</span>
    <span onclick="deleteRating({{id}}, 'countryRating')" class="rating-choice-remove">Remove my rating</span>{{/timestamp_user}}
  </span>{{/if}}
</span>
{{#if rating_count > 0}}
<div>
  <span class="spot-ratings-votes" onclick="loadRatings({{id}}, false, 'countryRating');">> See {{rating_count}} votes</span>
</div>
{{/if}}
{{#if ratings}}
<div id="spot-ratings-{{id}}" class="spot-ratings">
  <div class="bar-graph-details">
    <span class="bar-5 graph-bar"></span>
    <span class="bar-4 graph-bar"></span>
    <span class="bar-3 graph-bar"></span>
    <span class="bar-2 graph-bar"></span>
    <span class="bar-1 graph-bar"></span>
    <div class="distribution-details">
      <div class="row">
        <div class="col-xs-6"><p><span class="bubble bubble-verygood"></span> Very good</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.5.percentage)}}% ({{ratings_distribution.5.count}})</p></div>
      </div>
      <div class="row">
        <div class="col-xs-6"><p><span class="bubble bubble-good"></span> Good</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.4.percentage)}}% ({{ratings_distribution.4.count}})</p></div>
      </div>
      <div class="row">
        <div class="col-xs-6"><p><span class="bubble bubble-average"></span> Average</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.3.percentage)}}% ({{ratings_distribution.3.count}})</p></div>
      </div>
      <div class="row">
        <div class="col-xs-6"><p><span class="bubble bubble-bad"></span> Bad</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.2.percentage)}}% ({{ratings_distribution.2.count}})</p></div>
      </div>
      <div class="row">
        <div class="col-xs-6"><p><span class="bubble bubble-senseless"></span> Senseless</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.1.percentage)}}% ({{ratings_distribution.1.count}})</p></div>
      </div>
    </div>
  </div>
  <div class="list-ratings">
    <table class="table table-striped table-hover">
      {{#ratings}}
      <tr>
        <td>{{rating_label}}</td>
        <td>{{user_name}}</td>
        <td>{{timestamp_label}}</td>
      </tr>
      {{/ratings}}
    </table>
  </div>
</div>
{{/if}}
{{/countryRating}}
