<!-- Spot comments -->
<div id="hw-spot-comments-{{id}}" class="hw-spot-comments" transition-in-out="slide"><!-- hw-hide-comment-->
  {{#comments}}
  <div class="hw-comment">
    {{#if user_id == userId}}
      <i onclick="mw.HWMaps.City.deleteComment('{{comment_id}}', 'spots.groupSpots.{{cardinalDirection}}.{{index}}')" class="fa fa-trash hw-comment-delete"></i>
    {{/if}}
    {{{commenttext}}}
    <span class="hw-comment-meta">By {{user_name}}, {{timestamp_label}}</span>
  </div>
  {{/comments}}
  {{#if userId}}
    <textarea class="hw-comment-textarea" placeholder="Write a comment..." value='{{this.new_comment}}'></textarea>
  {{else}}
    <p><em>Please log in to add a comment</em></p>
  {{/if}}
  {{#if this.new_comment.length}}
    <button class="hw-comment-button"
            onclick="mw.HWMaps.City.addComment('{{this.new_comment}}', '{{id}}', 'spots.groupSpots.{{cardinalDirection}}.{{index}}')">
      Add comment
    </button>
  {{/if}}
</div>
<!-- /Spot comments -->
