{{#groupSpots:direction}}

<span class="cardinal-direction">
  {{direction}}
</span>

{{#this}}
<div class="spot" id="spot_{{id}}">

  <h3>
    {{#if CitiesDirection}}<span>Towards </span>{{/if}}
    {{#CitiesDirection}}
    <a href="{{this}}">{{this}}</a>,&nbsp;
    {{/CitiesDirection}}
    {{#RoadsDirection}}
    <a href="{{this}}">{{this}}</a>,&nbsp;
    {{/RoadsDirection}}
  </h3>
  <div class="spot-right">
    {{#comments_count}}<div class="commens-box">{{comments_count}}</div>{{/comments_count}}
    {{^comments_count}}<div class="commens-box">+</div>{{/comments_count}}
  </div>
  <p>{{{Description}}}</p>
  <div class="ratings">
    <span class="rating-widget">
      <span class="average average-{{rating_average}}">{{average_label}}</span><span id="rate_{{id}}" class="rate">Rate <i class="fa fa-caret-down"></i></span>
      <span id="your_rate_{{id}}" class="your-rate">
        <span class="rating-choice-head">Your rating</span>
        <span class="rating-choice"><span class="bubble bubble-verygood"></span> Very Good</span>
        <span class="rating-choice"><span class="bubble bubble-good"></span> Good</span>
        <span class="rating-choice"><span class="bubble bubble-average"></span> Average</span>
        <span class="rating-choice"><span class="bubble bubble-bad"></span> Bad</span>
        <span class="rating-choice"><span class="bubble bubble-senseless"></span> Senseless</span>
      </span>
    </span>
  </div>
</div>
{{/this}}

{{/groupSpots}}
