{{#countryRating}}

<span class="hw-rating-widget hw-average-{{rating_average || 0}}">
  <span class="hw-average {{#if rating_average > 0}}hw-average-{{Math.round(rating_average)}}{{else}}hw-average-null{{/if}} {{#if !userId}}hw-average-no-user{{/if}}">{{average_label}} {{#if rating_count > 0}}<small>({{rating_count}})</small>{{/if}}</span>{{#if userId}}<span id="hw-rate_{{id}}" class="hw-rate {{#if rating_user > 0}}hw-hw-rate-{{Math.round(rating_user)}}{{else}}hw-rate-null{{/if}}">{{#if rating_user > 0}}<small>You rated: </small>{{rating_user_label}}{{else}}Rate{{/if}} <i class="fa fa-caret-down"></i></span>
  <span id="hw-your_rate_{{id}}" class="hw-your-rate">
    <span class="hw-rating-choice-head">{{#if rating_user}}Your rated: {{rating_user_label}}{{else}}Your rating{{/if}}</span>
    <span onclick="hwAddRatings(5, {{id}}, 'countryRating')" class="hw-rating-choice"><span class="hw-bubble hw-bubble-verygood"></span> Very Good</span>
    <span onclick="hwAddRatings(4, {{id}}, 'countryRating')" class="hw-rating-choice"><span class="hw-bubble hw-bubble-good"></span> Good</span>
    <span onclick="hwAddRatings(3, {{id}}, 'countryRating')" class="hw-rating-choice"><span class="hw-bubble hw-bubble-average"></span> Average</span>
    <span onclick="hwAddRatings(2, {{id}}, 'countryRating')" class="hw-rating-choice"><span class="hw-bubble hw-bubble-bad"></span> Bad</span>
    <span onclick="hwAddRatings(1, {{id}}, 'countryRating')" class="hw-rating-choice"><span class="hw-bubble hw-bubble-senseless"></span> Senseless</span>
    {{#timestamp_user}}<span class="hw-rating-choice-timestamp">You rated {{timestamp_user}}</span>
    <span onclick="deleteRating({{id}}, 'countryRating')" class="hw-rating-choice-remove">Remove my rating</span>{{/timestamp_user}}
  </span>{{/if}}
</span>
{{#if rating_count > 0}}
<div>
  <span class="hw-spot-ratings-votes" onclick="loadRatings({{id}}, false, 'countryRating');">See {{rating_count}} votes</span>
</div>
{{/if}}
{{#if ratings}}
<div id="hw-spot-ratings-{{id}}" class="hw-spot-ratings">
  <div class="hw-bar-graph-details">
    <span class="hw-bar-5 hw-graph-bar"></span>
    <span class="hw-bar-4 hw-graph-bar"></span>
    <span class="hw-bar-3 hw-graph-bar"></span>
    <span class="hw-bar-2 hw-graph-bar"></span>
    <span class="hw-bar-1 hw-graph-bar"></span>
    <div class="hw-distribution-details">
      <div class="row">
        <div class="col-xs-6"><p><span class="hw-bubble hw-bubble-verygood"></span> Very good</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.5.percentage)}}% ({{ratings_distribution.5.count}})</p></div>
      </div>
      <div class="row">
        <div class="col-xs-6"><p><span class="hw-bubble hw-bubble-good"></span> Good</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.4.percentage)}}% ({{ratings_distribution.4.count}})</p></div>
      </div>
      <div class="row">
        <div class="col-xs-6"><p><span class="hw-bubble hw-bubble-average"></span> Average</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.3.percentage)}}% ({{ratings_distribution.3.count}})</p></div>
      </div>
      <div class="row">
        <div class="col-xs-6"><p><span class="hw-bubble hw-bubble-bad"></span> Bad</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.2.percentage)}}% ({{ratings_distribution.2.count}})</p></div>
      </div>
      <div class="row">
        <div class="col-xs-6"><p><span class="hw-bubble hw-bubble-senseless"></span> Senseless</p></div>
        <div class="col-xs-6"><p>{{Math.round(ratings_distribution.1.percentage)}}% ({{ratings_distribution.1.count}})</p></div>
      </div>
    </div>
  </div>
  <div class="hw-list-ratings">
    <table class="table table-striped table-hover">
      {{#ratings}}
      <tr>
        <td>{{rating_label}}</td>
        <td>{{user_name}}</td>
        <td>{{timestamp_label}}</td>
      </tr>
      {{/ratings}}
    </table>
  </div>
</div>
{{/if}}
{{/countryRating}}
